<table class="table table-sm" id="grocery-list-table">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Store Name</th>
        <th>Purchased</th>
      </tr>
    </thead>

    <tbody>
      {{#each items as |item|}}
      <tr data-id="{{item.id}}">
        <td>{{item.food_name}}</td>
        <td>{{item.store_name}}</td>
        <td><button type="button" class='btn btn-default purchase-item' data-id="{{item.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></td>
      </tr>
    </tbody>

{{/each}}

</table>
