{{#each items as |item|}}

 <!-- Developers, why are we using data-id and not just id? -->
  <ul id={{item.id}}>
  <div>
    <li>{{item.food_name}}</li>
    <li>{{item.store_name}}</li>
    <li><button class='remove-item'>X</button></li>
  </div>
  </ul>

{{/each}}
