<table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Store Name</th>
        <th>Purchased</th>
      </tr>
    </thead>

    <tbody>
      {{#each items as |item|}}
      <tr data-id="{{item.id}}">
        <td>{{item.food_name}}</td>
        <td>{{item.store_name}}</td>
        <td><button type="button" class='remove-item pure-button' data-id="{{item.id}}">X</button></td>
      </tr>
    </tbody>

{{/each}}

</table>
