<table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Store Name</th>
        <th>Purchased</th>
      </tr>
    </thead>

{{#each items as |item|}}

    <tbody>
      <tr>
        <td>{{item.food_name}}</td>
        <td>{{item.store_name}}</td>
        <td><button id='move-to-food-list'>X</button></td>
      </tr>
    </tbody>

{{/each}}

</table>
